<!DOCTYPE html>
<html>
  <head>
    <title><%= app_config['page']['title'] %></title>
    <link href="/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/app.css" rel="stylesheet"/>
    <!-- TODO configurable per section stylesheet -->

  </head>
  <body>

    <div class="container">
      <!-- TODO configurable header section -->
      <a id="bostonrblink" href="<%=app_config['org']['href']%>"><%= app_config['org']['name']%></a>
      <h1 class="titleheader"><%= app_config['page']['title'] %></h1>
      <p>
        This page should update automatically in-place every few minutes.
      </p>

      <div id="contentBox" class="row">
        <div class="span4">
          <div id="tweets"> </div>
        </div>

        <div class="span4">
          <div id="feedItems"> </div>
        </div>
        <div class="span4">
          <div id="feedItems-column-2"> </div>
        </div>
      </div>

      <div id="footer" class="row">
      </div>

    </div>
  
    <script type="text/javascript" src="/underscore-min.js"></script>
    <script type="text/javascript" src="/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/backbone-min.js"></script>
    <script type="text/javascript" src="/app.js"></script>

    <script>
      $(function() {
        FeedItems.reset(<%= @feed_items.to_json %>);
        Tweets.reset(<%= @tweets.to_json %>);
        Tweets.url = function() {
          var lastItem = this.models[this.models.length-1];
          /*
          console.log("number of models: " + this.models.length);
          console.log("last tweet");
          console.log(lastItem.attributes);
          */
          return ('/<%= @app %>/tweets?from_time=' + lastItem.get("created_at"));
        };
        FeedItems.url = function() {
          var lastItem = this.models[this.models.length-1];
          /*
          console.log("number of models: " + this.models.length);
          console.log("last feed item");
          console.log(lastItem.attributes);
          */
          return ('/<%= @app %>/feed_items?from_time=' + lastItem.get("date"));
        };
        setInterval(function () {
          Tweets.fetch({add: true});
        }, <%= app_config['poll_interval'] * 1000 %>);
        setInterval(function () {
          FeedItems.fetch({add: true});
        }, <%= app_config['poll_interval'] * 1000 * 2 %>);
      });
    </script>
    <!-- Templates -->
    <script type="text/template" id="update-template">
      <div class="update">
          <span class="date">{{ date_string }}</span>
          <img src="{{ media }}"/>
          {{ content }}
      </div>
    </script>

    <script type="text/template" id="feed-item-template">
      <div class="feedItem">
        <span class="date">{{date_string}}</span>
        <h4>{{feed_title}}</h4>
        <h3><a href="{{item_href}}">{{title}}</a></h3>
        {{image_tag}}
        <p>{{summary}}</p>
      </div>
    </script>

    <script type="text/template" id="tweet-template">
      <div class="tweet">
        <img src="{{profile_image_url}}"/>
        <strong>{{ screen_name }}</strong>
        <p>
          {{ text }}
          <br/>
          <span class="tweet_date">{{ date_string }}</span>
        </p>
      </div>
    </script>



<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29070656-1']);
  _gaq.push(['_trackPageview']);

  (function() {     var ga = document.createElement('script'); ga.type = 'text/javascript';
ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : '
http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>
